
{% block title %}Edit ProductoTipo{% endblock %}

{% block body %}
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Crear {{pagina|default("items")}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {{ include('producto_tipo/_form.html.twig', {'button_label': 'Update','action': path('producto_tipo_edit',{'id':producto_tipo.id})}) }}

{% endblock %}
