
       <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Crear {{pagina|default("items")}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {{ include('producto_unidad/_form.html.twig', {'button_label': 'Update','action': path('producto_unidad_edit',{'id':producto_unidad.id})}) }}
