{{ form_start(form) }}
      	
<div class="card">
	<div class="card-body">

		<section>	
			
			<div class="row">
				<div class="col-sm-6 col-md-4">
                <small class="text-muted">Cliente *</small>
					{{form_row(form.cliente,{'label':false,'attr':{'class':'form-control pCodigo'}})}}
                </div>
            </div>
        </section>
    </div>
    <div class="card-footer">
        <button class="btn btn-primary">{{ button_label|default('Siguiente') }}</button>
    </div>
</div>
    
{{ form_end(form) }}
