{% extends 'base.html.twig' %}

{% block title %}Edit ClienteProveedor{% endblock %}

{% block body %}
    <h1>Edit ClienteProveedor</h1>

    {{ include('cliente_proveedor/_form.html.twig', {'button_label': 'Update'}) }}
   
{% endblock %}
